.elementor-9782 .elementor-element.elementor-element-4e3baf43 {
    padding: 0px 0px 0px 112px;
}

.elementor-9782 .elementor-element.elementor-element-2df34f58 .elementor-spacer-inner {
    height: 150px;
}

.elementor-9782 .elementor-element.elementor-element-244f5428 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-9782 .elementor-element.elementor-element-244f5428 .elementor-icon {
    font-size: 90px;
}

.elementor-9782 .elementor-element.elementor-element-244f5428 .elementor-icon i, .elementor-9782 .elementor-element.elementor-element-244f5428 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-9782 .elementor-element.elementor-element-b0e99bd .elementor-spacer-inner {
    height: 50px;
}

.elementor-9782 .elementor-element.elementor-element-7b70afc {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-4c6e49f1 .elementor-spacer-inner {
    height: 209px;
}

.elementor-9782 .elementor-element.elementor-element-2ef09d8a .elementor-image img {
    width: 40%;
    max-width: 48%;
}

.elementor-9782 .elementor-element.elementor-element-67431ca6 .elementor-spacer-inner {
    height: 65px;
}

.elementor-9782 .elementor-element.elementor-element-75d8e05e:not(.elementor-motion-effects-element-type-background), .elementor-9782 .elementor-element.elementor-element-75d8e05e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-9782 .elementor-element.elementor-element-75d8e05e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 112px;
}

.elementor-9782 .elementor-element.elementor-element-75d8e05e > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9782 .elementor-element.elementor-element-252b924b .elementor-spacer-inner {
    height: 20px;
}

.elementor-9782 .elementor-element.elementor-element-de8c0b > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9782 .elementor-element.elementor-element-7e47747f > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9782 .elementor-element.elementor-element-43ccc89d {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 600;
}

.elementor-9782 .elementor-element.elementor-element-f84e124 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
}

.elementor-9782 .elementor-element.elementor-element-f84e124 > .elementor-widget-container {
    margin: -18px 0px 0px 0px;
}

.elementor-9782 .elementor-element.elementor-element-1b6abaff {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
    font-weight: 600;
}

.elementor-9782 .elementor-element.elementor-element-6637d326 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
    font-weight: 300;
}

.elementor-9782 .elementor-element.elementor-element-11f54495 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9782 .elementor-element.elementor-element-2cb9fa70 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
    font-weight: 600;
}

.elementor-9782 .elementor-element.elementor-element-54153afe {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
    font-weight: 300;
}

.elementor-9782 .elementor-element.elementor-element-2be7a800 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9782 .elementor-element.elementor-element-6d48fcf2 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
    font-weight: 600;
}

.elementor-9782 .elementor-element.elementor-element-72e15c38 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
    font-weight: 300;
}

.elementor-9782 .elementor-element.elementor-element-705c230f {
    padding: 0px 0px 0px 112px;
}

.elementor-9782 .elementor-element.elementor-element-4d19184d .elementor-spacer-inner {
    height: 130px;
}

.elementor-9782 .elementor-element.elementor-element-5a3f5f16 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-2cd5cb01 .elementor-spacer-inner {
    height: 50px;
}

.elementor-9782 .elementor-element.elementor-element-660fa51 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-1d074c18 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-50564225 .elementor-spacer-inner {
    height: 380px;
}

.elementor-9782 .elementor-element.elementor-element-78d2993e .elementor-icon-wrapper {
    text-align: center;
}

.elementor-9782 .elementor-element.elementor-element-78d2993e .elementor-icon {
    font-size: 220px;
}

.elementor-9782 .elementor-element.elementor-element-78d2993e .elementor-icon i, .elementor-9782 .elementor-element.elementor-element-78d2993e .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-9782 .elementor-element.elementor-element-2e7c6735 .elementor-spacer-inner {
    height: 160px;
}

.elementor-9782 .elementor-element.elementor-element-7dc93bcc:not(.elementor-motion-effects-element-type-background), .elementor-9782 .elementor-element.elementor-element-7dc93bcc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-9782 .elementor-element.elementor-element-7dc93bcc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 112px;
}

.elementor-9782 .elementor-element.elementor-element-7dc93bcc > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9782 .elementor-element.elementor-element-5f9040f9 .elementor-spacer-inner {
    height: 130px;
}

.elementor-9782 .elementor-element.elementor-element-719c5c86 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-5e407a42 .elementor-spacer-inner {
    height: 50px;
}

.elementor-9782 .elementor-element.elementor-element-4d0a3afe {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-690debd {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-45a5dad8 .elementor-spacer-inner {
    height: 240px;
}

.elementor-9782 .elementor-element.elementor-element-10fccb92 .elementor-image img {
    width: 40%;
    max-width: 48%;
}

.elementor-9782 .elementor-element.elementor-element-44015a5a .elementor-spacer-inner {
    height: 80px;
}

.elementor-9782 .elementor-element.elementor-element-12d3d67f {
    padding: 0px 0px 0px 112px;
}

.elementor-9782 .elementor-element.elementor-element-29465464 .elementor-spacer-inner {
    height: 130px;
}

.elementor-9782 .elementor-element.elementor-element-6b5282e7 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-dcff4a8 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-8eabe91 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-5f5127ac .elementor-spacer-inner {
    height: 50px;
}

.elementor-9782 .elementor-element.elementor-element-4b84f371 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-9782 .elementor-element.elementor-element-4b84f371 .elementor-icon {
    font-size: 40px;
}

.elementor-9782 .elementor-element.elementor-element-4b84f371 .elementor-icon i, .elementor-9782 .elementor-element.elementor-element-4b84f371 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-9782 .elementor-element.elementor-element-4b84f371 > .elementor-widget-container {
    margin: 0px 0px 0px -10px;
}

.elementor-9782 .elementor-element.elementor-element-1b3279d8 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 600;
}

.elementor-9782 .elementor-element.elementor-element-680d2370 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.3em;
}

.elementor-9782 .elementor-element.elementor-element-13b9dba7 .elementor-spacer-inner {
    height: 100px;
}

.elementor-9782 .elementor-element.elementor-element-5b94d6b2 .elementor-spacer-inner {
    height: 430px;
}

.elementor-9782 .elementor-element.elementor-element-4dddd555 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-9782 .elementor-element.elementor-element-4dddd555 .elementor-icon {
    font-size: 280px;
}

.elementor-9782 .elementor-element.elementor-element-4dddd555 .elementor-icon i, .elementor-9782 .elementor-element.elementor-element-4dddd555 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-9782 .elementor-element.elementor-element-42d08110:not(.elementor-motion-effects-element-type-background), .elementor-9782 .elementor-element.elementor-element-42d08110 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-9782 .elementor-element.elementor-element-42d08110 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0112px;
}

.elementor-9782 .elementor-element.elementor-element-42d08110 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9782 .elementor-element.elementor-element-6316bab1 .elementor-spacer-inner {
    height: 50px;
}

.elementor-9782 .elementor-element.elementor-element-3fe8b6d1 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-9782 .elementor-element.elementor-element-3fe8b6d1 .elementor-icon {
    font-size: 40px;
}

.elementor-9782 .elementor-element.elementor-element-3fe8b6d1 .elementor-icon i, .elementor-9782 .elementor-element.elementor-element-3fe8b6d1 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-9782 .elementor-element.elementor-element-109fc270 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 300;
}

.elementor-9782 .elementor-element.elementor-element-1e6e814f .elementor-icon-wrapper {
    text-align: right;
}

.elementor-9782 .elementor-element.elementor-element-1e6e814f .elementor-icon {
    font-size: 40px;
}

.elementor-9782 .elementor-element.elementor-element-1e6e814f .elementor-icon i, .elementor-9782 .elementor-element.elementor-element-1e6e814f .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-9782 .elementor-element.elementor-element-44bfc313 {
    text-align: left;
}

.elementor-9782 .elementor-element.elementor-element-44bfc313 .elementor-image img {
    width: 13%;
    max-width: 13%;
}

.elementor-9782 .elementor-element.elementor-element-54143904 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 400;
}

.elementor-9782 .elementor-element.elementor-element-172276aa {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 16px;
}

.elementor-9782 .elementor-element.elementor-element-172276aa > .elementor-widget-container {
    margin: -35px 0px 0px 0px;
}

.elementor-9782 .elementor-element.elementor-element-1d600769 .elementor-spacer-inner {
    height: 50px;
}

.elementor-9782 .elementor-element.elementor-element-33ba8327 {
    padding: 0px 0112px 0px 0112px;
}

.elementor-9782 .elementor-element.elementor-element-f541aec .elementor-spacer-inner {
    height: 100px;
}

.elementor-9782 .elementor-element.elementor-element-57b9d370 .elementor-text-editor {
    text-align: center;
}

.elementor-9782 .elementor-element.elementor-element-57b9d370 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 38px;
    font-weight: 400;
}

.elementor-9782 .elementor-element.elementor-element-4f6ac549 .elementor-text-editor {
    text-align: center;
}

.elementor-9782 .elementor-element.elementor-element-4f6ac549 {
    color: #000000;
    font-family: "Source Sans Pro", Quicksand;
    font-size: 25px;
    font-weight: 300;
}

.elementor-9782 .elementor-element.elementor-element-8152098 .elementor-button {
    font-family: "Source Sans Pro", Quicksand;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #2E56FF;
}

.elementor-9782 .elementor-element.elementor-element-69ac16a7 .elementor-spacer-inner {
    height: 100px;
}

@media (max-width: 767px) {
    .elementor-9782 .elementor-element.elementor-element-4e3baf43 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-2df34f58 .elementor-spacer-inner {
        height: 112px;
    }

    .elementor-9782 .elementor-element.elementor-element-7b70afc {
        font-size: 24px;
    }

    .elementor-9782 .elementor-element.elementor-element-2ef09d8a {
        text-align: right;
    }

    .elementor-9782 .elementor-element.elementor-element-2ef09d8a .elementor-image img {
        width: 28%;
    }

    .elementor-9782 .elementor-element.elementor-element-75d8e05e {
        padding: 0px 10px 0px 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-de8c0b {
        width: 20%;
    }

    .elementor-9782 .elementor-element.elementor-element-7e47747f {
        text-align: left;
        width: auto;
        max-width: auto;
    }

    .elementor-9782 .elementor-element.elementor-element-7e47747f .elementor-image img {
        width: 100%;
    }

    .elementor-9782 .elementor-element.elementor-element-2bbbff78 {
        width: 80%;
    }

    .elementor-9782 .elementor-element.elementor-element-2bbbff78 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-9782 .elementor-element.elementor-element-43ccc89d {
        font-size: 24px;
    }

    .elementor-9782 .elementor-element.elementor-element-f84e124 {
        font-size: 14px;
    }

    .elementor-9782 .elementor-element.elementor-element-f84e124 > .elementor-widget-container {
        margin: -25px 0px 0px 0px;
    }

    .elementor-9782 .elementor-element.elementor-element-1b6abaff {
        font-size: 16px;
    }

    .elementor-9782 .elementor-element.elementor-element-6637d326 {
        font-size: 14px;
    }

    .elementor-9782 .elementor-element.elementor-element-11f54495 {
        width: 50%;
    }

    .elementor-9782 .elementor-element.elementor-element-54153afe {
        font-size: 16px;
    }

    .elementor-9782 .elementor-element.elementor-element-2be7a800 {
        width: 50%;
    }

    .elementor-9782 .elementor-element.elementor-element-705c230f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-4d19184d .elementor-spacer-inner {
        height: 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-5a3f5f16 {
        font-size: 24px;
    }

    .elementor-9782 .elementor-element.elementor-element-660fa51 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-1d074c18 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-78d2993e .elementor-icon-wrapper {
        text-align: right;
    }

    .elementor-9782 .elementor-element.elementor-element-78d2993e .elementor-icon {
        font-size: 135px;
    }

    .elementor-9782 .elementor-element.elementor-element-2e7c6735 .elementor-spacer-inner {
        height: 20px;
    }

    .elementor-9782 .elementor-element.elementor-element-7dc93bcc {
        padding: 0px 10px 0px 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-5f9040f9 .elementor-spacer-inner {
        height: 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-719c5c86 {
        font-size: 24px;
    }

    .elementor-9782 .elementor-element.elementor-element-4d0a3afe {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-690debd {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-10fccb92 {
        text-align: center;
    }

    .elementor-9782 .elementor-element.elementor-element-10fccb92 .elementor-image img {
        width: 28%;
    }

    .elementor-9782 .elementor-element.elementor-element-44015a5a .elementor-spacer-inner {
        height: 50px;
    }

    .elementor-9782 .elementor-element.elementor-element-12d3d67f {
        padding: 0px 10px 0px 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-29465464 .elementor-spacer-inner {
        height: 20px;
    }

    .elementor-9782 .elementor-element.elementor-element-6b5282e7 {
        font-size: 24px;
    }

    .elementor-9782 .elementor-element.elementor-element-6b5282e7 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-9782 .elementor-element.elementor-element-dcff4a8 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-8eabe91 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-5f5127ac .elementor-spacer-inner {
        height: 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-4b84f371 .elementor-icon {
        font-size: 25px;
    }

    .elementor-9782 .elementor-element.elementor-element-4b84f371 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-9782 .elementor-element.elementor-element-1b3279d8 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-680d2370 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-13b9dba7 .elementor-spacer-inner {
        height: 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-42d08110 {
        padding: 0px 10px 0px 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-109fc270 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-44bfc313 .elementor-image img {
        width: 17%;
    }

    .elementor-9782 .elementor-element.elementor-element-44bfc313 > .elementor-widget-container {
        margin: -58px 0px 0px 0px;
    }

    .elementor-9782 .elementor-element.elementor-element-54143904 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-172276aa {
        font-size: 14px;
    }

    .elementor-9782 .elementor-element.elementor-element-33ba8327 {
        padding: 0px 10px 0px 10px;
    }

    .elementor-9782 .elementor-element.elementor-element-f541aec .elementor-spacer-inner {
        height: 50px;
    }

    .elementor-9782 .elementor-element.elementor-element-57b9d370 {
        font-size: 24px;
    }

    .elementor-9782 .elementor-element.elementor-element-4f6ac549 {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-8152098 .elementor-button {
        font-size: 19px;
    }

    .elementor-9782 .elementor-element.elementor-element-69ac16a7 .elementor-spacer-inner {
        height: 50px;
    }
}

@media (min-width: 768px) {
    .elementor-9782 .elementor-element.elementor-element-5af1cd4c {
        width: 49.888%;
    }

    .elementor-9782 .elementor-element.elementor-element-a546165 {
        width: 50.112%;
    }

    .elementor-9782 .elementor-element.elementor-element-de8c0b {
        width: 22.545%;
    }

    .elementor-9782 .elementor-element.elementor-element-2bbbff78 {
        width: 77.455%;
    }

    .elementor-9782 .elementor-element.elementor-element-2c2357bc {
        width: 60.7%;
    }

    .elementor-9782 .elementor-element.elementor-element-3f2a13ed {
        width: 39.253%;
    }

    .elementor-9782 .elementor-element.elementor-element-351f5923 {
        width: 69.163%;
    }

    .elementor-9782 .elementor-element.elementor-element-283085c7 {
        width: 30.404%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-9782 .elementor-element.elementor-element-565b639c {
        width: 70%;
    }

    .elementor-9782 .elementor-element.elementor-element-1b35c75b {
        width: 30%;
    }

    .elementor-9782 .elementor-element.elementor-element-351f5923 {
        width: 80%;
    }

    .elementor-9782 .elementor-element.elementor-element-283085c7 {
        width: 20%;
    }
}